## Python basics

In [2]:
import pandas as pd

In [1]:
pwd

'C:\\Users\\kunal.jain\\Desktop\\ML and Deep learning with Deployment\\Untitled Folder'

In [2]:
print("Hello my name is {}".format("Kunal"))

Hello my name is Kunal

In [1]:
pwd

'C:\\Users\\kunal.jain\\Desktop\\00.ML and Deep learning with Deployment\\02. Python programming - Session 3'

In [3]:
4%2

0

In [4]:
4/2

2.0

In [5]:
5//2

2

In [6]:
5/2

2.5

In [7]:
#BODMAS- Bracket of Division Multiplication Addition and Subraction
5+3*2

11

In [8]:
(5+3)*3

24

In [9]:
type(4/2)

float

In [10]:
type(2)

int

In [12]:
type('kunal')

str

In [13]:
a=10
b=20
c = a+b

In [14]:
type(c)

int

In [16]:
True

True

In [17]:
False

False

In [18]:
## Boolean operations
True or False

True

In [20]:
#Bitwise
type(True | False)

bool

In [23]:
a=10
b=20
a+b>30 | a-b<10

True

In [24]:
a+b>30 or a-b<10

True

In [31]:
## Strings

str1 = 'KJ is a good boy'

In [34]:
print(str1)

KJ is a good boy

In [27]:
5|8

13

In [28]:
5 or 8

5

In [29]:
## Type casting 
## explaination (Shift + Tab)
str(1)

'1'

In [35]:
str2 = 'KJ is a bad boy'

In [36]:
print(str1)
print(str2)

KJ is a good boy
KJ is a bad boy

In [37]:
str1+str2

'KJ is a good boyKJ is a bad boy'

In [38]:
str1+" "+str2

'KJ is a good boy KJ is a bad boy'

In [40]:
name = input("Enter your name")
print(name)

Enter your name1
1

In [44]:
## add 2 numbers

a=float(input("Enter number 1?"))
b=float(input("Enter number 2?"))
c=a+b
print("The output is ",c)

Enter number 1?12
Enter number 2?12.4
The output is  24.4

In [51]:
## string formating
first_name = input("What is your first name?")
last_name = input("What is your last name?")

#print('Welcome to iNeuron course', first_name, last_name)
print("My first name is {} and last name is {}" .format(first_name,last_name))
print("My first name is {firstname} and last name is {lastname}" .format(lastname = last_name,
                                                                         firstname = first_name))

What is your first name?Kunal
What is your last name?Jain
My first name is Kunal and last name is Jain
My first name is Kunal and last name is Jain

## Variable dynamic typing

In [53]:
a=10.0
type(a)

float

In [56]:
## storng Typing

'Kunal' + str(1)

'Kunal1'

In [62]:
1 + float("2")

3.0

#### Conditional statements

In [68]:
## if and elif

a=int(input("Enter the number 1"))
b=int(input("Enter the number 2"))

c=a-b

print("the output is {}".format(c))
if c<0:
    print('the number is negative')
elif c>40:
    print('the difference is huge')
else:
    print('the number is positive')

Enter the number 1100
Enter the number 2200
the output is -100
the number is negative

### Data structures

1. List
2. Tuple
3. String
4. Dictionary
5. Set

In [70]:
# Homogenious and heterogenous
lst = [1,2,3, "Kunal","Jain"]

In [71]:
lst

[1, 2, 3, 'Kunal', 'Jain']

In [72]:
lst[0]

1

In [75]:
type(lst[4])

str

In [77]:
list((1,2,3,"Kunal","Jain"))

[1, 2, 3, 'Kunal', 'Jain']

In [81]:
lst.append('Fractal')

In [82]:
lst

[1, 2, 3, 'Kunal', 'Jain', 5, 'Fractal']

In [83]:
lst[2]='Data Science'

In [85]:
print(lst[2])

Data Science

In [86]:
lst.append("Kunal")
lst.append("Kunal")

In [87]:
lst

[1, 2, 'Data Science', 'Kunal', 'Jain', 5, 'Fractal', 'Kunal', 'Kunal']

In [88]:
lst.count("Kunal")

3

In [92]:
# Indexing
## immutable - Does not support item assignment
str1 = "Kunal"
str1 = "i"
str1

'i'